$player_width: 200px
$photo_height: 135px
$photo_width: 90px

$red_sox_blue: #0E2B55
$red_sox_red: #BD3039

=reset
  margin: 0
  padding: 0

=toggle_button
  padding: 2px 12px
  background-color: #FFF
  border: 1px solid #EEE
  margin: 0 0 4px
  white-space: nowrap
  cursor: pointer
  &:hover
    border-color: #CCC
  span
    font-size: 11px
    color: #666
