@import mixins

body
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif
  background-color: lighten($red_sox_blue, 75%)
  font-size: 14px
  margin: 0

p
  line-height: 1.5

header, footer, nav, section, small
  display: block

a
  text-decoration: none
  &:link, &:visited
    color: $red_sox_red
  &:hover, &:active
    color: $red_sox_blue
  &:active
    text-decoration: underline

header
  font-family: 'Lora', serif
  &#main
    background-color: $red_sox_red
    padding: 10px 20px
    h1
      font-size: 48px
      color: #fff
      margin: 0
      text-shadow: #666 0px 0px 12px
      a
        &:link, &:visited, &:hover, &:active
          color: #fff
  #player &
    position: relative
    min-height: $photo_height - 5px
    padding-left: $photo_width + 10px
    padding-top: 5px
    background-color: lighten($red_sox_blue, 75%)
    margin-bottom: 20px
    h1
      font-size: 36px
      display: inline
      padding-right: 20px
    #player-position
      font-size: 18px
    img
      position: absolute
      top: 0
      left: 0
    table
      margin-top: 10px
      th, td
        text-align: center
        padding: 4px 8px
        &:first-child
          border-left: none
      th
        background-color: lighten($red_sox_blue, 70%)
      td:first-child
        font-size: 32px
        padding-top: 0

#about
  background-color: lighten($red_sox_red, 50%)
  border-bottom: 1px solid lighten($red_sox_red, 45%)
  font-size: 12px
  padding: 20px
  p
    margin: 10px 0 0
    &:first-child
      margin-top: 0

#players, #player
  padding: 20px
  background-color: #FFF

ol
  list-style: none
  +reset
  li
    +reset
    display: inline-block
    text-align: center
    width: $player_width
    margin-bottom: 40px
    a
      color: #000
      display: block
      text-decoration: none
      &:hover
        background-color: #eee
    dl
      +reset
      position: relative
      padding: 20px 0
      dt
        +reset
        padding-top: $photo_height + 20px
        .first-name
          display: block
          color: #666
        .last-name
          display: block
          font-weight: bold
          font-size: 18px
          text-transform: uppercase
          margin: 4px 0 8px
      dd
        +reset
        font-size: 13px
        color: #666
        &.photo
          width: $player_width
          position: absolute
          top: 20px
          left: 0
          text-align: center
          img
            border: 4px solid #CCC
            padding: 1px
        &.position
          margin-bottom: 2px

#toggles
  background: #fff
  padding: 20px
  dl
    +reset
  dt
    font-weight: bold
    margin: 10px 0 5px
    display: inline-block
  dd
    display: inline-block
    +reset
    &.active a
      background-color: #FF9
      border-color: #CCC
    a
      color: #333
      +toggle_button

footer
  border-top: 1px solid lighten($red_sox_blue, 70%)
  background-color: lighten($red_sox_blue, 75%)
  padding: 20px 20px 120px
  p
    margin: 0
    color: #666
    font-size: 12px

table
  border-collapse: collapse
  th, td
    padding: 4px
    vertical-align: top
  &#player-seasons
    width: 100%
    border-left: 1px solid #ccc
    border-top: 1px solid #ccc
    tr:hover
      background-color: #FFc
    th, td
      border-right: 1px solid #ccc
      border-bottom: 1px solid #ccc
      text-align: right
    thead
      th
        background-color: #eee
    th:first-child, td:first-child
      text-align: left

#honors
  +reset
  margin: 20px 0
  list-style: none
  li
    +reset
    color: #fff
    display: inline-block
    padding: 4px 8px
    &#rs-hof
      background-color: $red_sox_red
    &#rs-wwar
      background-color: $red_sox_blue
    &#rs-future
      background-color: $red_sox_blue

#seasons-container
  overflow: auto

#key
  font-size: 12px
  color: #999
  margin: 120px 0 0
  &:hover
    color: #666
    dt
      color: #333
  dt
    display: inline
    font-weight: bold
    &:after
      content: ':'
  dd
    +reset
    display: inline