<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Red Sox Hall of wWAR</title>
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-379490-11']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<header id="main">
  <h1><a href="/">Red Sox Hall of <abbr title="Weighted Wins Above Replacement">wWAR</abbr></a></h1>
</header>

<%= yield %>

<footer>
  <p>
    The Red Sox Hall of wWAR was created at <a href="http://baseballhackday.com">Baseball Hack Day</a> in March 2012 by
    <a href="http://darowski.com">Adam Darowski</a>, <a href="http://semanticart.com/">Jeffrey Chupp</a>,
    and <a href="https://twitter.com/#!/beantownsports">Adam Bailey</a>. Wins Above Replacement (WAR) data lovingly
    pulled from <a href="http://baseball-reference.com">Baseball-Reference</a>.</a>
  </p>
</footer>

</body>
</html>
